@import url("https://fonts.googleapis.com/css?family=Outfit:300,400,700");

.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

.home {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: 1024px;
  padding: 30px 128px;
  width: 1440px;
}

.flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 57px;
  min-height: 338px;
  width: 1170px;
}